.business-article {
	border-top: 1px solid #dbdbdb;
	background: $background-color1 !important;

	&.item-1 {
		border-right: 1px solid #fafafa;
	}

	.article {
		width: 100%;

		padding-bottom: 1em;
		padding-left: 6%;
		padding-right: 10%;

		.image {
			width: 30%;
			display: table-cell;
			text-align: center;
			img {
				width: auto;
				max-height: 120px;
				margin: auto;
			}
		}

		.content {
			width: 70%;
			display: table-cell;
			vertical-align: middle;
			
			padding-left: 5%;

			&.description {
				display: block;
				width: 100%;

				padding-left: 0;

				color: $font-color;
				font-weight: $font-weight-light;
				font-size: $font-size;
				line-height: 1.25rem;

				ul {
					list-style-type: disc;
					margin-left: 1.2em;

					li {
						color: $font-color;
						font-weight: $font-weight-light;
						font-size: $font-size;
					}
				}

				h3 {
					margin-top: 46px;

					font-weight: $font-weight-light;
					font-style: italic;
					font-size: 24px;
				}
			}

			h2 {
				font-size: 26px;
				font-weight: 500;
				color: $font-color;

				margin-top: 0.8em;
				margin-bottom: 0.4em;
			}

			div.subtitle {
				font-size: $font-size-large;
				font-weight: $font-weight-light;
				font-style: italic;
				color: $font-color;
				line-height: 1.4em;

				margin-bottom: 0.5em;
			}

			a {
				text-decoration: none;
			}

			.button {
				display: inline-block;
				font-size: $font-size;
				font-weight: $font-weight-bold;
				color: #ffffff;

				text-transform: uppercase;
				text-align: center;
				background: #ee853a;
				line-height: 48px;
				width: 157px;

				margin-top: 1em;
				margin-bottom: 1em;

				cursor: pointer;
			}
		}
	}

	@include breakpoint(tablet) {
		.article {
			display: table;
			padding-bottom: 0;

			.cell.item-1 {
				width: 30%;
				display: table-cell;
				vertical-align: top;

				img {
					padding: 5%;
					max-height: none;
					margin: auto;
				}
			}

			.cell.item-2 {
				width: 70%;
				display: table-cell;

				padding-left: 2%;
				padding-right: 6%;

				div.content-title {
					padding-top: 1em;
					border-top: 1px solid #d7d7d7;
				}
			}
		}
	}
}
