.checkered {
	&:nth-child(odd) {
		.item-2 {
			background: $background-color2;
		}
	}

	&:nth-child(even) {
		.item-1 {
			background: $background-color2;
		}
	}
}

.content-row {
	width: 100%;

	> .cell {
		width: 100%;
		vertical-align: middle;

		&.padded {
			padding-left: 5%;
			padding-top: 2%;
			padding-bottom: 2%;
			padding-right: 5%;
/*
			&.item-2 {
				padding-left: 10%;
			}
*/
		}
	}

	> .cell {
		width: 100%;
		background: $background-color1;
	}

	&.item-count-3 {
		background: $background-color1;
	}

	&.item-count-4 {
		background: $background-color1;

		&.centered {
			padding-left: 10%;
			padding-right: 10%;
			padding-top: 2%;
			padding-bottom: 2%;
		}
	}

	@include breakpoint(tablet) {
		> .cell.padded {
			//padding-right: 4%;
		}

		&.item-count-2 {
			display: table;

			> .cell.padded .item-2{
				padding-left: 10%;
			}

			.cell.item-1 {
				display: table-cell;
				width: 57%;
			}

			.cell.item-2 {
				display: table-cell;
				width: 43%;
			}


			&.centered {
				.cell.item-1, .cell.item-2 {
					width: 50%;
				}
			}
		}

		&.item-count-3 {
			display: table;

			.cell.item-1, .cell.item-2, .cell.item-3 {
				display: table-cell;
				width: 33.333%;
			}
		}

		&.item-count-4 {
			display: table;

			.cell.item-1, .cell.item-2, .cell.item-3, .cell.item-4 {
				display: table-cell;
				width: auto;
			}
		}
	}

	&.story.item-count-1 > .cell {
		padding: 2% 10%;
	}

	&.story.item-count-2 > .cell {
		&.item-1 {
			padding-left: 10%;
			padding-right: 0;
		}

		&.item-2 {
			padding-left: 0;
			padding-right: 10%;
		}
	}

	@import "image";
	@import "hero";
	@import "text";
	@import "list";
	@import "table";
	@import "dropdown-list";
	@import "form-article";
	@import "article";
	@import "case";
}

.noselect {
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}