.business-story {
	border-top: 1px solid #dbdbdb;

	.desktop {
		display: none;
	}

	.story {
		width: 100%;
		padding-bottom: 1em;

		background: $background-color1;

		div.subtitle {
			font-size: ($font-size-large - 2px);
			font-weight: $font-weight-light;
			font-style: italic;
			color: $font-color;
			line-height: 1.4em;

			margin-bottom: 0.5em;
		}

		.item-1 {
			text-align: center;
			&.top-image img, .bottom-image {
				width: 100%;
				max-height: none;
				margin: auto;
			}
		}

		.item-2 {
			vertical-align: middle;

			h2 {
				font-size: 32px;
				font-weight: 500;
				color: $font-color;

				margin-bottom: 0.5em;
				margin-top: 0.25em;
			}


			div.content-title {
				padding-top: 1em;
			}

			a {
				text-decoration: none;
			}

			.button-group {
				width: 100%;
				max-width: 157px;
				float: right;
			}

			.button {
				display: inline-block;
				font-size: $font-size;
				font-weight: $font-weight-bold;
				color: #ffffff;

				text-transform: uppercase;
				text-align: center;
				background: #ee853a;
				line-height: 38px;
				width: 100%;

				margin-bottom: 1em;

				cursor: pointer;
			}

			.content {
				padding-bottom: 0;
				padding-left: 8%;
			}
		}

		&.top {
			.item-2 {
				padding-left: 10%;
				padding-right: 10%;
			}

			.content {
				padding-left: 0;
				padding-right: 0;
				margin-right: 157px;

				p.title {
					margin-top: 0;
				}
			}
		}

		&.bottom .collapse {
			position: relative;

			height: 100%;

			.up-arrow {
				cursor: pointer;
				position: absolute;
				bottom: 55px;
				left: 50%;

				border: 1px solid #b4b4b4;
				border-radius: 32px;	

				width: 50px;
				height: 50px;

				margin: -25px;

				.arrow {
					position: absolute;
					width: 13px;
					height: 13px;

					border-top: 1px solid #605e5e;
					border-left: 1px solid #605e5e;

					transform: translate(-50%, -25%) rotate(45deg);

					top: 50%;
					left: 50%;
				}
			}
		}

		.content {
			color: $font-color;
			font-weight: $font-weight-light;
			font-size: $font-size;
			line-height: 1.25rem;

			padding-left: 8%;
			padding-right: 10%;
			padding-bottom: 110px;

			ul {
				list-style-type: disc;
				margin-left: 1.2em;

				li {
					color: $font-color;
					font-weight: $font-weight-light;
					font-size: $font-size;
				}
			}

			h3 {
				margin-top: 46px;

				font-weight: $font-weight-light;
				font-style: italic;
				font-size: 24px;
			}

			p.title {
				display: block;
				margin-top: 32px;

				font-size: 16px;
				font-weight: $font-weight-bold;
				line-height: 2rem;
			}

			.hr {
				display: none;
			}
		}

		.article-image {
			text-align: center;
			width: 100%;
			height: auto;
		}
	}

	@include breakpoint(tablet) {
		&:nth-child(odd) {
			.item-1 {
				background: $background-color1;
			}

			.item-2 {
				background: $background-color2;
			}
		}

		&:nth-child(even) {
			.item-1 {
				background: $background-color2;
			}

			.item-2 {
				background: $background-color1;
			}
		}

		.mobile {
			display: none;
		}

		.story {
			display: table;
			table-layout: fixed;
			padding-bottom: 0;

			.item-1 {
				width: 42%;
				display: table-cell;
				vertical-align: middle;

				&.top-image img, .bottom-image {
					width: 99999px;
					max-width: 100%;
					max-height: none;
					margin: auto;
				}
			}

			.item-2 {
				width: 58%;
				display: table-cell;

				div.content-title {
					padding-top: 1em;
					border-top: 1px solid #d7d7d7;
				}
			}

			&.top {
				.item-2 {
					padding-left: 4.5%;
					padding-right: 11.6%;
				}
			}

			.content {
				padding-left: 2%;
				padding-right: 2.5%;

				.hr {
					display: block;
					width: 100%;
					height: 1px;
					background: #dbdbdb;

					margin-top: 46px;
				}
			}

			&.bottom .collapse {
				width: 100%;

				.item-1, .item-2 {
					background: $background-color1;
					vertical-align: top;
					padding-bottom: 0;
				}
			}
		}
	}
}