@include breakpoint(tablet) {
	&.item-count-2 {
		.dropdown-list {
			width: 50% !important;

			&.item-1 {
				.item {
					//Double the padding since we're at 50%
					padding-left: 20%;
					padding-right: 8%;
				}
			}

			&.item-2 {
				.item {
					padding-left: 8%;
					padding-right: 20%;
				}
			}
		}
	}
}

.dropdown-list {
	vertical-align: top;
	background: $background-color1 !important;

	&.item-4 .item:nth-child(odd), &.item-3 .item:nth-child(even), &.item-2 .item:nth-child(odd), &.item-1 .item:nth-child(even) {
		background: $background-color2;
	}

	.item {
		padding-left: 10%;
		padding-right: 5%;

		overflow-y: hidden;

		.title {
			color: $font-color;
			font-style: italic;
			font-size: 5vw;
			font-weight: $font-weight-light;
			line-height: $font-lineheight;

			padding-top: 5vw;
			padding-bottom: 5vw;

			cursor: pointer;
			position: relative;
		}

		.content {
			color: $font-color;
			font-size: $font-size;
			font-weight: $font-weight;
			line-height: $font-lineheight;

			display: block;
			max-height: 1200px;
			margin-right: $font-size;
			margin-bottom: $font-size;
		}

		p.arrow {
			position: absolute;
			top: 50%;
			right: -15px;

			border-left: 1px solid $font-color;
			border-top: 1px solid $font-color;
			width: 10px;
			height: 10px;

			margin: 0;

			transition: transform .25s ease-in-out;
			transform: rotate(45deg) scale(-1, -1) translate(50%, 50%);
		}

		&.collapsed {
			.content {
				margin: 0;
				max-height: 0;
			}

			p.arrow {
				transform: rotate(45deg) scale(1, 1) translate(-50%, -50%);
			}
		}
	}

	@include breakpoint(mobile) {
		.item {
			.title {
				font-size: $font-size-large;
				
				padding-top: $font-size;
				padding-bottom: $font-size;
			}
		}
	}
}