.image {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;

	img {
		margin: 0 auto;
		display: block;
	}

	.text {
		margin: auto;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0.2em;
		padding-right: 0.2em;
		font-size: $font-size;
		font-weight: $font-weight;
		color: $font-color;
	}

	&.background {
		img {
			display: none;
			width: 100%;
		}
	}
}

@include breakpoint(grid) {
	&.item-count-4,  {
		.image {
			padding-top: 5%;
			padding-bottom: 5%;
			img {
				max-width: inline;
			}
		}
	}
}

@include breakpoint(maxtablet) {
	.image {
		padding: 5%;

		img {
			width: auto !important;
			height: auto;
		}

		&.repeater {
			width: 100% !important;
		}

		&.background {
			padding: 0;
			background: transparent;

			img {
				width: 100% !important;
				display: block;
			}

		}
	}
}