.list {
	.title {
		display: table;
		font-size: $font-size-large;
		font-weight: $font-weight-light;
		font-style: italic;
		color: $font-color;

		div {
			display: table-cell;
			vertical-align: middle;

			padding: 16px;
		}

		div.icon {
			padding-left: 0;
			width: 64px;
		}
	}

	ul {
		margin-left: 16px;
		list-style-type: disc;

		li {
			color: $background-color3;

			p {
				font-size: $font-size;
				line-height: $font-size-large;
				color: $font-color;

				a {
					color: $font-color;
				}
			}
		}
	}
}