.table {

	&.blue {
		background: $background-color3 !important;

		.title {
			color: $background-color1;
		}
	}

	.title {
		padding-bottom: 8%;
		color: $font-color;
		font-size: $font-size-large;
		font-weight: $font-weight-light;
		font-style: italic;
	}

	table {
		width: 100%;

		th, td {
			font-size: $font-size;
			padding: 0.9em 1em;
		}

		th {
			color: $font-color;
			background: $background-color1;
		}
		
		td {
			color: $background-color3;
			background: $background-color2;
		}

		tr:nth-child(odd) {
			th {
				background: $background-color2;
			}

			td {
				background: $background-color1;
			}
		}
	}
}