.cell {
	&.textbox {
		font-weight: $font-weight-light;
		font-size: $font-size;
		
		color: $font-color;

		& > *:last-child { margin-bottom: 0 !important; }

		p {
			margin-bottom: 24px;

			color: $font-color;
			font-size: $font-size;
			font-weight: $font-weight;
			line-height: $font-lineheight;

			em {
				font-size: $font-size-large;
				font-style: oblique;
				font-weight: $font-weight-light;
				line-height: $font-lineheight-large;
			}
		}

		h1, h2, h3, h4 {
			font-size: 32px;
			line-height: $font-lineheight-large;
			font-weight: $font-weight-bold;

			em {
				font-style: oblique;
				font-size: 24px;
				line-height: 30px;
				font-weight: $font-weight-light;
			}
		}

		img.aligncenter {
			margin: 0 auto;
			display: block;
		}


		@include breakpoint(maxtablet) {
			img {
				width: auto !important;
				height: auto;
			}
		}
	}

	&.quote {
		color: $background-color3;

		@include breakpoint(maxtablet) {
			padding: 5% 10%;
		}

		.inner-section {
			.quote-title {
				font-style: italic;
				font-size: 30px;
				font-weight: $font-weight-bold;
				line-height: 40px;
			}

			.italic {
				margin-top: 1em;
				font-size: $font-size-large;
				font-weight: $font-weight-light;
				line-height: $font-lineheight-large;
				font-style: italic;
				padding: 0;
			}

			.text {
				margin: 0 auto;
				margin-top: 1em;
				font-size: $font-size;
				font-weight: $font-weight-light;
				line-height: $font-lineheight;

			}

			em {
				font-style: oblique;
			}

			> *:first-child {
				margin-top: 0;
			}
		}
		
		&.blue {
			background: $background-color3 !important;
			color: $background-color1;

			.quote-title {
				font-style: normal;
				font-size: 38px;
			}
		}

		&.centered {
			text-align: center;

			.inner-section {
				//max-width: 96%;
				margin:  0 auto;
			}
		}
	}

	&.cta {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		a {
			display: inline-block;
			margin-bottom: 1em;
			padding-left: 1em;
			padding-right: 1em;

			font-size: 14px;
			font-weight: 500;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;

			cursor: pointer;

			color: #ffffff;
			background: #ee853a;
		}
	}
}