body.account{

    .article.top{
        min-height: 441px;
        height: 100%;
    }

    .article-content{
        height: 100%;

        a{
            color: #ee853a;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .article-download{
        text-align: center;
        width: 100%;
        min-height: 441px;
        height: 100%;
        position: relative;
        float: none;
        background: #fafafa;

        @include breakpoint(tablet){
            float: left;
            width: 43%;
        }

        img{
            width:111px;
            height: 145px;
            margin: auto;
            margin-top: 131px;
        }

        a{
            font-size: 30px;
            font-style: italic;
            color: #2fbcd6;
            text-decoration: none;
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .article-download-list{
        background: #fafafa;
        width: 100%;
        max-width: 100%;
        padding: 40px 10px;
        margin: 0 auto;
        float: none;
        line-height: 1.3;
        font-weight: 300;
        min-height: 400px;
        height: 100%;

            &.exeption-account{
                padding: 0% 8% 15.5%;

                    .other-download{
                        a.download{
                            float: left;
                            margin-top: 12px;
                        }
                    }

            }

        @include breakpoint(tablet){
            width: 57%;
            padding: 0 10% 0 11%;
            float: left;
        }

        .other-download{
            margin-top: 35px;
            height: 70px;
            border-bottom: 1px solid #ccc;
        }

        h1,h2,h3,h4{
            font-weight: 500;
            font-size: 32px;
            display: block;
            padding-bottom: 2.5%;
            margin-top: 81px;
        }

        a{
            color: #ee853a;
            text-decoration: none;
            font-weight: bold;

            &.download{
                float: right;
            }
        }

    }

    .form-column{

    }
}

#login-btn {

    @include breakpoint(tablet){

        a.logout{
            position: absolute;
            display: none;
            top: 50px;
            left: 0px;
            width: 110px;
            color: white;
            background-color: #e1e1e1;
            font-weight: bold;
            font-size: 80%;
            padding-top: 10px;
            height: 30px;
            text-decoration: none;
            -webkit-transition: background-color 0.1s linear;
            -moz-transition: background-color 0.1s linear;
            -ms-transition: background-color 0.1s linear;
            -o-transition: background-color 0.1s linear;
            transition: background-color 0.1s linear;

            &:hover{
                background-color: #555;
            }
        }

        &:hover{
            a.logout{
                display: block;
            }
        }
    }
}

#overlay.overlay-change #form-overlay .inner{

    padding: 8% 0;

    .form-footer{
        padding: 0;

        .submit-button{
            width: 229px;
            padding: 17px 18px;
        }
    }
}


