*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clear{
	clear: both;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height: 40px;
        line-height: 40px;
        background: #f4f4f4;
    }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}

img{ max-width: 100%; }

.normal{ font-family: 'Roboto', sans-serif; }
.cond{ font-family: 'Roboto Condensed', sans-serif; }
.bold{ font-weight: 900; }
.light{ font-weight: 100; }

body{
    background: #f5f5f5;
    color: #4a4a4a;
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

#container {
    margin: 60px auto 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    
    @include breakpoint(tablet){
        background: #f5f5f5;
        margin: 0 auto;
    }
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

::-webkit-input-placeholder {
   color: #666;
   font-family: 'Roboto', 'Roboto Condensed', sans-serif;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;
   font-family: 'Roboto', 'Roboto Condensed', sans-serif;
   font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
   font-family: 'Roboto', 'Roboto Condensed', sans-serif;
   font-size: 14px;
}

:-ms-input-placeholder {
   color: #666;
   font-family: 'Roboto', 'Roboto Condensed', sans-serif;
   font-size: 14px;
}

.wrapped,
#grid{
	position: relative;
	width: 1080px;
	margin: 0 auto;
	max-width: 90%;
}

// MENU-BUTTON MOBILE
#burger-bg{
  position: absolute;
  top: 7px;
  right: 14px;
  z-index: 4;
  cursor: pointer;
  width: 35px;
  height: 35px;

    @include breakpoint(mobile){ right: 21px; }
    @include breakpoint(tablet){ display: none; }
}

::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholde,:-ms-input-placeholder {
   color: #888;
}

.close-t{
  display: none;
}

#burger-toggle span, #burger-toggle span:before, #burger-toggle span:after {
  cursor: pointer;
  border-radius: 3px;
  height: 4px;
  width: 22px;
  background: #4c4a4a;
  position: absolute;
  display: block;
  content: '';
  bottom: 10px;
  right: 0px;
}
#burger-toggle span:before {
  top: -8px;
}
#burger-toggle span:after {
  bottom: -8px;
}
#burger-toggle span, #burger-toggle span:before, #burger-toggle span:after {
  transition: all 200ms ease-in-out;
}
#burger-toggle.active span {
  background-color: transparent;
}
#burger-toggle.active span:before, #burger-toggle.active span:after {
  top: 0;
}
#burger-toggle.active span:before {
  transform: rotate(45deg);
}
#burger-toggle.active span:after {
  transform: rotate(-45deg);
}
