// top article inherit from our-expertise   
#office-nav {
    text-align: center;
    padding: 5% 0% 7%;
    background-color: #909090;
    height: 318px;
    width: 100%;
    overflow: hidden;
    @include breakpoint(maxmobile) {
        padding: 25% 0% 7%;
    }
    @include breakpoint(large) {
        padding: 9% 0% 7%;
    }
    div.office-navlink {
        display: inline-block;
        margin: 0 1%;
        cursor: pointer;
        opacity: .4;
        -ms-transform: scale(.7,.7);
        -webkit-transform: scale(.7,.7);
        transform: scale(.7,.7);
        transition: all .4s ease-in-out;
        &.active, &:hover {
            opacity: 1;
            -ms-transform: scale(1,1);
            -webkit-transform: scale(1,1);
            transform: scale(1,1);
        }
        @include breakpoint(maxtablet) {
            margin: 2% 1%;
            width: 30%;
            max-width: 155px;
            @include breakpoint(maxtablet) {
                -ms-transform: scale(1,1);
                -webkit-transform: scale(1,1);
                transform: scale(1,1);
                opacity: .7;
            }
        }
    }
    &.sweden-stockholm-office {
        background-image: url('../img/maps/map-sweden-big.png');
        background-position: 60.5% 15.4%;
        background-size: 200%;
        transition: background-position 1s ease-in;
        -webkit-transition: background-position 1s ease-in;
        @include breakpoint(large-tablet) {
            transition: none;
            -webkit-transition: none;
            background-image: url('../img/maps/map-china-big.png');
            background-size: cover;
            background-position: center center;
        }
    }
    &.usa-bloomington-office {
        background-image: url('../img/maps/map-america-big.png');
        background-size: 200%;
        background-position: 34% 26%;
        transition: background-position 1s ease-in;
        -webkit-transition: background-position 1s ease-in;
        @include breakpoint(large-tablet) {
            transition: none;
            -webkit-transition: none;
            background-image: url('../img/maps/map-china-big.png');
            background-size: cover;
            background-position: center center;
        }
    }
    &.taiwan-taipei-office {
        background-image: url('../img/maps/map-china-big.png');
        background-size: 200%;
        background-position: 67.5% 28.5%;
        transition: background-position 1s ease-in;
        -webkit-transition: background-position 1s ease-in;
        @include breakpoint(large-tablet) {
            transition: none;
            -webkit-transition: none;
            background-image: url('../img/maps/map-china-big.png');
            background-size: cover;
            background-position: center center;
        }
    }
    &.shanghai-china-office {
        background-image: url('../img/maps/map-china-big.png');
        background-size: 200%;
        background-position: 61.5% 37.8%;
        transition: background-position 1s ease-in;
        -webkit-transition: background-position 1s ease-in;
        @include breakpoint(large-tablet) {
            transition: none;
            -webkit-transition: none;
            background-image: url('../img/maps/map-china-big.png');
            background-size: cover;
            background-position: center center;
        }
    }
    &.germany-frankfurt-office {
        background-image: url('../img/maps/map-germany-big.png');
        background-size: 200%;
        background-position: 37.5% 23.8%;
        background-size: 200%;
        transition: background-position 1s ease-in;
        -webkit-transition: background-position 1s ease-in;
        @include breakpoint(large-tablet) {
            transition: none;
            -webkit-transition: none;
            background-image: url('../img/maps/map-china-big.png');
            background-size: cover;
            background-position: center center;
        }
    }
}
#board-nav {
    text-align: center;
    padding: 5% 0 8%;
    background: #fff;
    .board-member {
        display: inline-block;
        margin: 0 4%;
    }
    .board-name {
        font-weight: 500;
        font-style: oblique;
        font-size: 16px;
        padding: 3% 0;
    }
    .board-title {
        font-style: normal;
        font-weight: 300;
    }
    .title {
        font-size: 32px;
        color: #444;
        margin: 0 0 4%;
    }
    div.rounded-image-wrapper {
        display: inline-block;
        //cursor: pointer;
        @include breakpoint(maxtablet) {
            width: 200px;
            height: 200px;
            display: block;
            margin: 12% auto;
        }
    }
}
.office-wrapper {
    background: #fff;
    display: none;
    &.active {
        opacity: 1;
    }
    .office-hero {
        line-height: 0;
        max-height: 380px;
        overflow: hidden;
    }
	.office-column {
		width: 100%;
		display: table;

		.office-manager {
			vertical-align: middle;

			background: #fff;
			width: 100%;
			font-size: 14px;
			text-align: center;
            margin: 5% 0;

			.rounded-image-wrapper {
				display: inline-block;
			}
			.bold-italic {
				font-weight: 500;
				font-style: oblique;
				margin: 10px 0 5px 0;
				font-size: 16px;
			}
			.light {
				font-weight: 300;
				margin: 5px 0;
			}
			@include breakpoint(tablet) {
				width: 43%;
                display: table-cell;
			}
		}

		.office-contact-details {
			vertical-align: middle;
			background: #2fbcd6;
			color: #fff;
			width: 100%;
			padding: 5% 8% 7% 10%;
			.title {
				font-weight: 500;
				font-size: 38px;
				margin-bottom: 15px;
				line-height: 100%;
				@include breakpoint(maxtablet) {
					font-size: 22px;
				}
			}
			.italic-title {
				font-size: 20px;
				font-weight: 300;
				font-style: italic;
				padding: 2% 0 6%;
			}
			.text-block {
				.italic-title {
					font-size: 20px;
					font-weight: 300;
					font-style: italic;
					padding: 4% 0 6%;
				}
				p {
					font-weight: 300;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 15px;
				}
			}
			p {
				font-weight: 300;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 15px;
			}
			@include breakpoint(tablet) {
                display: table-cell;
				width: 57%;
			}
			.adress {
				margin-bottom: 5%;
				font-size: 14px;
				a {
					color: #fff;
					text-decoration: none;
				}
				.list-image {
					float: left;
					min-height: 70px;
					padding-right: 5%;
				}
				ul {
					li {
						margin-bottom: 5px;
						a {
							text-decoration: none;
							color: #fff;
						}
					}
				}
			}
			.phone, .mail {
				margin-bottom: 5%;
				font-size: 14px;
				.list-image {
					float: left;
					min-height: 0;
					padding-right: 5%;
				}
				ul {
					li {
						margin-bottom: 5px;
						a {
							text-decoration: none;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
.rounded-image-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    text-align: center;
    img {
        width: 220px;
        height: 220px;
        max-width: 300px;
        position: absolute;
        left: 50%;
        margin-left: -110px;
    }
}