#footer{
	border-top: 1px solid #dbdbdb;
	width: 100%;
	background: #fff;
	//padding: 7% 0 5%;
	margin-top: 0px;

		.left-column,
		.right-column{
			float: left;
			width: 65%;

			@include breakpoint(tablet){
				width: 50%;
			}
		}

		.right-column,
		.left-column{

			.left-uls,
			.right-uls{
				float: left;	

					@include breakpoint(maxtablet){
						width: 100%;
					}	
			}

			.left-uls{
				padding-left: 15%;
				@include breakpoint(maxtablet){ padding-left: 0; }
			}

			ul{

				margin-bottom: 12px;

				@include breakpoint(tablet){ margin-bottom: 45px; }

				li{

					margin-bottom: 12px;
					display: none;

						@include breakpoint(tablet){
							display: block;
						}					

						&.title{ 
							display: block; 
							margin-bottom: 5px; 

								@include breakpoint(tablet){ margin-bottom: 12px; }

								a{ 
									font-weight: 900; 
									text-transform: uppercase; 
								} 
						}

						&.menu-item-has-children{
							display: block; 
							margin-bottom: 5px; 

							> a{
								font-weight: 900; 
								text-transform: uppercase; 
							}

							.sub-menu{
								margin-top: 12px;
							}

						}

					a{
						color: #656565;
						font-size: 14px;
						font-weight: 300;
						text-decoration: none;
					}
				}
			}


				#contact-wrapper{
					margin-top: 20px;

					@include breakpoint(tablet){ margin: 0; }

					div,
					ul{
						float: left;
					}

					div{ 
						width: 31%; 
						margin: 0 0 15px 0;

							@include breakpoint(tablet){ margin: 0; }
					}

					ul{

						li{ display: block; margin-bottom: 5px; @include breakpoint(tablet){ margin-bottom: 12px; }}

						margin-bottom: 0;
						width: 69%;
						padding: 1.5% 0 0 5%; 
						
						@include breakpoint(tablet){ padding: 2.5% 0 0 5%; }
					
					}

				}

		}

		.right-column{
			
			@include breakpoint(tablet){
				border-left: 1px solid #dbdbdb;
				padding: 9% 4% 11% 10%;
  				margin-top: -1%;
			}
		}
		.left-column{
			padding-top: 5%;
		}
}


		.bottom-footer{
			padding: 2% 0;
			text-align: center;
			font-size: 10px;
			font-weight: 300;
			background: #f5f5f5;
		}



.linkedin{
	  display: block;
	  padding: 40px 0px 0px 3px;
	  text-decoration: none;
	  opacity: .8;
	  transition: opacity .3s ease-in-out;

	  &:hover{ opacity: 1; }

		span{
			  position: relative;
			  top: -5px;
			  left: 7px;
			  color: #656565;
			  font-size: 14px;
			  font-weight: 300;

			  	@include breakpoint(maxtablet){
			  		  top: 4px;
					  left: 0;
					  display: block;
			  	}
		}
}














