.form-article{
	padding: 5% 0 8%;
	width: 100%;
	background: #494949;
	color: #fff;

	&.exeption-account{ padding: 15% 0 15%; }

	@include breakpoint(tablet){
		padding: 0% 0 6%;
	}


	.inner{
		width: 1080px;
		margin: 0 auto;
		max-width: 94%;

		.text-content{
			width: 90%;
			margin: 5% 2% 3% 2%;

				.form-title{ font-size: 32px; font-weight: 500; padding: 0 0 5%; }
				.form-italic{ font-size: 20px; font-weight: 300; font-style: italic; padding: 0 0 5%; line-height: 24px; }
				.form-text{ font-size: 14px; font-weight: 300; line-height: 18px; a{ color: #fff; text-decoration: none; font-weight: 500; } }

				@include breakpoint(tablet){
					margin: 0;
					width: 45%;
					padding: 6% 6% 0 0;
					float: left;
				}
		}

		.form-content{
			width: 100%;

			form{
				max-width: 100%;
				.top-input-wrapper{
					width: 100%;
					div.top-input{
						background: #ccc;
						margin: 4% 2%;
						width: 96%;

						@include breakpoint(tablet){
							width: 46%;
							margin: 2%;
							float: left;
						}

							input{ width: 100%; padding: 10px; height: 43px; background: none; border: none; outline: 0; outline: none; line-height: inherit;}
					}
				}
				.email-wrapper{
					background: #ccc;
					margin: 2%;
					width: 96%;

						input{ width: 100%; padding: 10px;  height: 43px;  background: none; border: none; outline: 0; outline: none; line-height: inherit;}
				}

				.message-wrapper{
					background: #ccc;
					margin: 2%;
					width: 96%;
					margin-top: 15px;
					height: 110px;

						textarea{ width: 100%; padding: 15px 10px; background: none; border: none; outline: 0; outline: none; max-height: 100%;}
				}


				.submit-wrapper{
					button{
						margin: 2%;
						padding: 15px 67px;
						border: 1px solid #fff;
						background: #808080;
						color: #fff;
						font-weight: 700;
						font-size: 14px;
						font-family: 'Roboto', sans-serif;
						cursor: pointer;
						outline: 0;
					}
				}

				div{
					&.error{
						border: 1px solid #f00;
					}
				}


			}

				@include breakpoint(tablet){
					width: 55%;
					padding: 6% 0 0 5.5%;
					float: left;
				}
		}
	}

}

span.wpcf7-form-control-wrap.phone{
  display: block;
  margin-left: 55px;
}
