/**
 * http://www.sitepoint.com/getting-sticky-headers-wordpress-admin-bar-behave/
 */

@mixin admin-sticky-fix( $offset: 0 ) {
  $narrow-offset: 55px;
  $wide-offset: 32px;
  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }
  .admin-bar & {
    top: $narrow-offset;
    @media screen and (min-width: 783px) {
      top: $wide-offset;
    }
  }
}

#nav{
	padding: 0 0 0 0;
	max-width: 100%;
	
	.navbar-row {
		width: 100%;	
		position: relative;
		background: #f5f5f5;
		
		&.first {
			form {
				display: inline;
			}

			.input-search {
				display: none;

				width: 20%;
				border-radius: 5px;
				border: 1px solid #ffffff;
				background: #59c9de url('../img/header/search-icon.png');
				background-position: 96%;
				background-repeat: no-repeat;
				height: 25px;
				color: white;

				margin-left: 20px;
				margin-top: -4px;
				margin-bottom: -4px;
				padding-right: 26px;
				padding-left: 6px;

				@include breakpoint(wrapper) {
					margin-left: 5%;
				}
			}
			
			> div {
				font-size: 11px;
				font-weight: $font-weight-light;
				display: none;
				color: white;
				
				.text {
					display: inline-block;
					margin-left: 34px;
					margin-right: 34px;
				}

				.email, .phone, .hero-linkedin {
					color: white;
					font-weight: $font-weight-bold;
				}
				
				.email {
					text-decoration: underline;
				}
				
				.phone {
					text-decoration: none;
				}

				.hero-linkedin {
					text-decoration: underline;

					img {
						display: inline;
						margin: -1px 4px -1px 0;
					}
				}
			}

			@include breakpoint(tablet) {
				padding: 18px 0;
				background: #2FBCD7;

				> div {
					display: inline-block;
				}

				.input-search {
					display: inline;
				}
			}
		}

		&.second {
			padding: 0;

			@include breakpoint(tablet) {
				padding-top: 16px;
			}
		}
	}

	#top-nav{
		display: none;

		@include breakpoint(maxtablet) {
			top: 100px;
			width: 100%;
		}

		@include breakpoint(headerquery) {
			margin: 40px 0 0 0;
			padding: 0;
		}

		@include breakpoint(tablet) {
			display: block;
			padding: 0 4% 0 0;
			right: 0;
			width: auto;
			//margin-left: 360px;
		}

		li{
			text-align: left;
			padding: 14px 20px;
			border-top: 1px solid #ccc;
			/*
			&:last-child {
				height: 60px;
				border-bottom: 1px solid #ccc;
			}
			*/
			.mobile-href {
				display: block;
				position: relative;
			}

			.desktop-href {
				display: none;
			}

			@include breakpoint(tablet) {
				padding: 3% 0 1.5% 0;
				margin-left: 2%;
				border-bottom: none;
				border-top: none;

				&:first-child {
					border-top: none;
				}

				.mobile-href {
					display: none;
					position: relative;
				}
				.desktop-href {
					display: inline;
				}
			}

			&.active {
				a {
					color: #2ebcd6;

					span {
						opacity: 1;
						
						@include breakpoint(maxtablet) {
							opacity: 0;
						}
					}
				}
			}
		}

	}

	ul{

		position: absolute;
		top: 0;
		background: #f5f5f5;
		z-index: 15;
		//width: 112%;
		//left: -6%;

		@include breakpoint(headerquery){
			position: relative;
			top: 0;
			//left: auto;
			//float: right;
			//width: 100%;
			//margin: 7% 0 0 0;
			background: none;
		}

		@include breakpoint(large){
			position: relative;
			//top: 6px;
			left: auto;
			//float: right;
			width: 100%;
			background: none;
		}

		li {
			//text-align: right;
			position: relative;
			display: block;
			//padding: 20px 0;
			margin-right: 0;

			@include breakpoint(maxtablet) { padding: 14px 0; }

			.toggle-mobile{
				position: absolute;
				right: 25px;
				top: 4px;
				-ms-transform: rotate(0deg); /* IE 9 */
				-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
				transform: rotate(0deg);
				transition: transform .4s ease;

				@include breakpoint(tablet) { display: none; }
			}

			&.active{
				.mobile-href{ color: #2ebcd6; }
			}

			&.current{
				.toggle-mobile{
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					transform: rotate(180deg);
				}
			}

			@include breakpoint(tablet){
				float: right;
				//margin-right: 2.5%;
				text-align: left;
				padding: 0;
			}

			a {
				font-size: 12px;
				text-transform: uppercase;
				color: #4c4a4a;
				text-decoration: none;
				transition: all .4s ease-in-out;
				cursor: pointer;

				span {
					position: static;
					width: 100%;
					display: block;
					border-top: 4px solid #2ebcd6;
					height: 10px;
					opacity: 0;
					transition: all .4s ease-in-out;
				}
			}
			
			&:hover {
				a {
					color: #2ebcd6;

					span {
						opacity: 1;
						
						@include breakpoint(maxtablet) { opacity: 0; }
					}
				}
			}

			//&.first{ margin: 0; @include breakpoint(large){ margin: 0 21% 0 0; } }

			.submenu {
				position: absolute;
				left: 0;
				padding: 0;
				display: inline-block;
				text-align: left;
				top: 100%;
				background: #707070;
				white-space: nowrap;

				//&#menu-item-42{ width: 553px; left: -10px; @include breakpoint(maxtablet){ left: -5%; width: 100%; }}
				//&#menu-item-39{ left: -133px; @include breakpoint(maxtablet){ left: -5%; }}

				&.active{
					opacity: 1;
					z-index: 1;

					a {
						opacity: 1;
						z-index: 1;
					}
				}

				a {
					color: #fff !important;
					font-weight: 500;

					&:hover{ color: #2ebcd6 !important; }
					&.active{ color: #2ebcd6 !important; }
				}

				@include breakpoint(tablet){
					opacity: 0;
					transition: opacity .4s ease-in-out;
					z-index: -1;
					pointer-events: none;

					.submenuLink.main {
						display: none;
					}
				}

				&.right{
					right: -27px;
					left: auto;
					@include breakpoint(maxtablet){ right: 5%; }
				}

				&.left{
					left: 0px;
				}

				@include breakpoint(maxtablet){ background: #ccc; }

				&.about{ width: 155px; right: 0; @include breakpoint(maxtablet){ width: 100%; } }

				a {
					display: block;

					margin: 0;
					padding: 11px 10px 10px 9px;
					font-size: 11px;
					font-weight: 500;

					@include breakpoint(maxtablet){ position: relative; }
				}

				&.right{
					a{
						float: left;

						@include breakpoint(maxtablet){ float: none; }
					}
				}

				@include breakpoint(maxtablet) {
					position: relative;
					width: 100%;
					text-align: center;
					padding: 0;
					top: 18px;
					display: none;
					min-width: 110%;
					left: -5%;

					&.left{
						left: -5%;
					}

					a{
						display: block;
						float: none;
						margin: 0;
						padding: 14px 0;
						border-top: 1px solid #999;

						&:last-child{ padding: 14px 0 14px; border-top: 1px solid #999; border-bottom: 1px solid #999;}

					}
				}
			}
			
			&.first {
				.submenu {
					right: 0;
				}
			}

			@include breakpoint(tablet) {
				&.first {
					.submenu {
						left: auto;
					}
				}


				&:hover{
					.submenu{
						pointer-events: auto;
						opacity: 1;
						z-index: 3;
					}
				}
			}
		}
	}

	#lang-cta{
		position: relative;
		top: 0;
		right: 4%;
		display: none;
		margin-left: auto;

			//#lang-switch{ border-bottom: 1px solid #ccc; }
		@include breakpoint(maxtablet) {
			right: 0;

			#lang-switch {
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				text-align: left;
				top: 58px;
				width: 100%;
				padding-left: 20px;
			}
		}

		@include breakpoint(tablet) {
			position: relative;
			float: right;
			top: 0;
			display: block;
		}
		
		ul{
			@include breakpoint(tablet) {
				//position: absolute;
				right: 0;

				&#lang-switch{
					display: block;
				}
			}

			li {
				display: inline-block;

				@include breakpoint(tablet) {
					width: auto;
					display: block;
					float: left;
				}
/*
				&:last-child {
					a {
						padding: 6% 0 6% 2%;
					}
				}
*/

				a, p {
					font-size: 12px;
					display: block;
					padding: 3px;
					color: black;
					font-weight: 400;
					text-transform: uppercase;
					opacity: 0.8;

					&.active {
						opacity: 1;
					}
				}

				a {
					transition: opacity .2s ease-in-out;

					&:hover {
						opacity: 1;
					}
				}

				@include breakpoint(tablet) {
					p, a {
						color: white;
					}
				}
			}
		}
	}
}
/* Hide page title on single pages, such as blog posts */
body.single {
	.page-title {
		display: none;
	}
}

#header{
	background: #f5f5f5;
	z-index: 15;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;

	.page-title {
		font-weight: 400;
		font-size: 12px;
		position: absolute;
		text-align: center;
		top: 26px;
		right: 70px;
		text-transform: uppercase;

		@include breakpoint(maxmobile) { right: 50px; }


		@include breakpoint(tablet) { display: none; }
	}

	@include breakpoint(maxtablet) {
		border-bottom: 1px solid #ccc;

		&.loggedin{
			/*top: 46px;*/
		}
	}

	.subheader{
		background: rgba(54,54,54, 0);
		position: absolute;
		height: 32px;
		bottom: -32px;
		width: 100%;
		left: 0;
		display: block;
		transition: opacity .2s ease-in-out;
		overflow: hidden;

		@include breakpoint(maxtablet) {
			display: none;
		}
	}

	@include breakpoint(tablet) {
		height: auto;
		position: relative;
	}

	#wide-logo{
		position: absolute;
		width: 120px;
		left: 20px;
		top: 16px;
		bottom: 16px;
  		transition: width .3s ease;
		z-index: 16;

		@include breakpoint(mobile) {
			width: 150px;
 		}

		@include breakpoint(tablet) {
			width: 20%;
		}

		@include breakpoint(wrapper) {
			left: 5%;
		}

		@include breakpoint(headerquery) {
			width: 200px;
			bottom: 16px;
		}
		
		a {
			display: inline-block;
		}
	}

	&.fixed{
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		top: -53px;
		position: fixed;
		background: #f5f5f5;

		#wide-logo{
			width: 14% !important;
			bottom: auto;

			@include breakpoint(headerquery){
				top: -40%;
			}
		}

		@include admin-sticky-fix(0);

		@include breakpoint(headerquery){
			#nav ul li .submenu{
				 top: 33px;
			}
		}
		
		#nav {
			#top-nav li {
				padding: 2.5% 2.5% 1.5% 0;
				
				.submenu {
					top: 100%;
				}
			}
			
			.navbar-row.second {
				padding: 0;
			}
		}
	}
}

#login-btn{
	right: 0;
	position: absolute;
	top: 67px;
	right: -15px;
	text-align: center;
	z-index: 100;
	display: none;
	background-color: #f5f5f5;
	min-width: 0;

	.open-overlay-login {
		@include breakpoint(maxtablet) {
			color: #ee853a;
			padding: 17px 0px 17px 32px;
		}
	}

    .account-login-logout,
	a.logout {
		color: #FFF;
		padding: 17px 22px;
		text-decoration: none;
		@include breakpoint(maxtablet) {
			color: #ee853a;
		}
	}

	@include breakpoint(tablet) {
		display: block;
		background-color: #ee853a;
		width: 97px;
		height: 44px;
		padding: 16px 0 0;

		span {
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	@include breakpoint(headerquery){
		top: 0px;
		right: 130px;
		height: 34px;
		padding: 10px 0 0;
	}

	@include breakpoint(large){
		right: 0;
		width: 110px;
		position: absolute;
		height: 49px;
		padding: 18px 0 0;
		top: 37px;
		text-align: center;
	}
}

/*

	html.no-webgl{
		#nav ul li{ position: relative; }
		#nav ul li .submenu{ left: 0; min-width: 160px; }
	}

*/

.mm_errors {
    padding: 20px;
    background: pink;
    color: #FFF;
}
