.read-more-t{
    width: 120px;
    text-align: center;
}

@include breakpoint(grid){

    body.de{
        /* We need to add these exceptions since the german menu is so darn long! the words are too long */
        #nav {
            #wide-logo {
                width: 170px;
            }
            ul {
                width: 79%;

            }
        }

        /*.wrapped, #grid{
            width: 1140px;
            max-width: 100%;
        }*/

        /*#nav ul {
          margin: 4.7% 0 0 4%;

          li .submenu{

          }
        }*/
    }

    body.sv{

        #nav ul{
            li .submenu{
                            }
        }
    }

    .read-more-t {
        text-align: left;
    }

    .cta-button .read-more-t{
        text-align: center;
    }
}
