
@mixin breakpoint($point) {

  @if $point == wrapper {
    @media (min-width: 1200px) { @content; }
  }
  
  @if $point == grid {
    @media (min-width: 960px) { @content; }
  }

  @else if $point == middlebreak {
    @media (min-width: 850px) { @content; }
  }

  @else if $point == tablet {
    @media (min-width: 769px)  { @content; }
  } 

  @else if $point == maxtablet {
    @media (max-width: 769px)  { @content; }
  } 

  @else if $point == maxmobile {
    @media (max-width: 480px)  { @content; }
  } 

  @else if $point == mobile {
    @media (min-width: 480px)  { @content; }
  } 

  @else if $point == headerquery {
    @media (min-width: 769px) and (max-width: 1080px)  { @content; }
  } 

  @else if $point == large {
    @media (min-width: 1080px) { @content; }
  } 

  @if $point == retina {
   	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } 	
  }

  @if $point == large-tablet{
    @media (max-device-width : 1024px) { @content; }
  }

}



/*
body{
  border-top: 5px solid black;

    @include breakpoint(mobile){
      border-top: 5px solid grey;      
    }
    @include breakpoint(tablet){
      border-top: 5px solid yellow;      
    }
    @include breakpoint(middlebreak){
      border-top: 5px solid green;      
    }
    @include breakpoint(grid){
      border-top: 5px solid cyan;      
    }
}
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

.cta-button{
  min-width: 110px;
  text-align: center;
  background-color: #ee853a;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;

    &.blue{ 
      background: #6ed0e2; 
      color: #fff; 
      font-weight: 600; 
      margin-top: 10px; 
      border: 1px solid #fff; 
      display: inline-block; 
      padding: 12px 22px; 
    }

    &:hover{
      //
    }

}

//Top Slider
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;

    img{ 
      display: block; 

        @include breakpoint(maxtablet){ display: none; } 
    }

    @include breakpoint(maxtablet){ padding-bottom: 65%; background-size: 100% 100%; }
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_container {
  margin-bottom: 0;
  position: relative;
  float: left;
  width: 100%;
}

.rslides_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.8;
  transition: opacity .4s ease-in-out;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -25px;
}

.rslides_nav.next {
  background: url(../img/slider/right-slider-arrow.png);
  left: auto;
  right: 3%;
  width: 50px;
  height: 50px;
  display: none;

    @include breakpoint(grid){ display: block; }
    @include breakpoint(large){ right: 10%; }

}

.rslides_nav.prev {
  background: url(../img/slider/left-slider-arrow.png);
  left: 3%;
  right: auto;
  width: 50px;
  height: 50px;
  display: none;

    @include breakpoint(grid){ display: block; }
    @include breakpoint(large){ left: 10%; }

}

.rslides_nav:hover,
.rslides_nav:active {
  opacity: 1.0;
}

.rslides_nav:focus {
  outline: none;
}

.rslides_tabs {
  width: 100%;
  position: absolute;
  bottom: 15px;
  z-index: 10;
  text-align: center;
}

.rslides_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.rslides_tabs a{
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  _display: block;
  *display: block;
  width: 12px;
  height: 11px;
  background: url(../img/slider/pag-dot.png);
  transition: background .4s ease-in-out;
}

.rslides_here a {
  background: url(../img/slider/pag-dot-active.png);
}

.caption-wrapper {
  position: absolute;
  display: block;
  margin-top: -130px;
  padding: 15px;
  width: 800px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  color: #fff;

    @include breakpoint(maxtablet){ 
      max-width: 100%; 
      left: 0; 
      margin-left: 0; 
      text-align: center; 
      top: 50%; 
      margin-top: -100px; 
    }
    
    @include breakpoint(grid){
      text-align: left;
    }

    .cta-button{ 
      font-weight: 500; 
      text-decoration: none; 
      padding: 15px 25px; 
      position: relative; 
      top: 20px; 

        @include breakpoint(maxtablet){ 
          padding: 10px 20px; 
        } 
    }

    .slider-title{ 
      font-size: 42px; 
      font-weight: 700; 
      text-transform: uppercase; 
      margin: 20px 0; 

        @include breakpoint(maxtablet){ 
          font-size: 20px; 
          margin: 10px 0; 
          line-height: 24px;
        } 
    }
    
    .slider-italic{ 
      font-size: 20px; 
      font-weight: 300; 
      font-style: oblique; 
      margin: 30px 0; 
      max-width: 70%;

        @include breakpoint(maxtablet){ 
          font-size: 22px; 
          width: 90%;
          margin: 10px auto; 
        } 

        @include breakpoint(maxmobile){ 
          font-size: 16px; 
          width: 100%;
          margin: 10px auto; 
          max-width: 95%;

        } 
    }

}


strong{ font-weight: 500; }





