
	.article{

		&.left{
			.article-text{
				float: left;
			}
		}

		&.right{
			.article-text{
				float: right;
			}
		}

		.product-list{
			font-size: 16px;
			font-family: "Roboto";
			font-style: italic;
			color: white;
			font-weight: 400;
		}
		
		&.left,
		&.right{

			.article-text{
				width: 57%; 
				padding: 3% 8% 7% 10%;

					

					&.big-article{
					//	min-height: 760px;

							@include breakpoint(maxtablet){ min-height: 0; margin-top: 40px;}
					}

				.title{
					font-weight: 500;
					font-size: 22px;
					margin-bottom: 15px; 
				}

				.italic-title{ font-size: 20px; font-weight: 300; font-style: italic; padding: 2% 0; }
				
				.text-block{
					.italic-title{ font-size: 20px; font-weight: 300; font-style: italic; padding: 4% 0 6%; }
					p{ font-weight: 300; font-size: 14px; line-height: 21px; }									
				}

				p{ font-weight: 300; font-size: 14px; line-height: 20px; }

					&.blue-top{
						background: #2fbcd6;
						color: #fff;

						.product-title{
							p{
								margin-bottom: 0;
								display: inline;

								strong{
									  font-size: 32px;
									  font-weight: 600;
									  padding: 0 0 5%;

								}
							}
							h1{ 
								display: inline-block;	
								font-size: 32px;
								line-height: 38px;
								font-weight: 500;
								font-family: 'Roboto', sans-serif;
								margin: 30px 0 5px; 
							}
						}

							@include breakpoint(maxtablet){
								width: 100%;
								padding: 3% 4% 10%; 
								float: none;
							}
					}

					&.blue-bottom{
						background: #2fbcd6;
						color: #fff;
					}

					@include breakpoint(maxtablet){
						width: 100%;
						padding: 0% 4% 4%; 
						float: none;
					}

			}

			.article-content{
				width: 43%; 

				&.palma{ width: 43%; @include breakpoint(maxtablet){ width: 100%; } }

				.palma-ul{ 
					color: #fff; 
					font-weight: 600; 
					list-style: disc; 

						li{ 
							margin-bottom: 10px; 
							line-height: 22px; 
							font-style: oblique; 
						} 
				
						@include breakpoint(maxtablet){ padding: 15% 0; }
				}

					img.palma-logo{
						display: block;
						width: 140px;
						margin: 0 auto 2%;
					}

					.italic-bold-title{
						font-size: 22px; font-weight: 500; line-height: 28px; font-style: italic; margin: 6% 0; padding: 2% 0; color: #2fbcd6;
					}

					@include breakpoint(maxtablet){
						width: 70%;
					}

			}
		}

		&.border{ .article-text { padding: 3% 8% 0% 10%;  @include breakpoint(maxtablet){ padding: 0% 4% 4%; ul{ list-style: none; } } } }


		&.left{
			.article-text{
				width: 57%; @include breakpoint(maxtablet){ width: 100%; }
			}
			.article-image{
				width: 43%; @include breakpoint(maxtablet){ width: 100%; }
			}
			.article-content{ width: 57%; @include breakpoint(maxtablet){ width: 100%; } }

				&.bottom-article{
					.article-content{ padding: 0 11%; @include breakpoint(maxtablet){ width: 100%; } }		
					.article-text{ padding: 8% 10% 8% 8%; width: 57%; background: #fff; @include breakpoint(maxtablet){ width: 100%; }}			
				}
		}

		&.right{
			.article-text{
				width: 57%; @include breakpoint(maxtablet){ width: 100%; }
			}
			.article-image{
				width: 43%; @include breakpoint(maxtablet){ width: 100%; }
			}
			.article-content{ width: 57%; @include breakpoint(maxtablet){ width: 100%; } }

				&.bottom-article{
					.article-content{ padding: 0 11%; @include breakpoint(maxtablet){ width: 100%; } }		
					.article-text{ padding: 8% 10% 8% 8%; width: 57%; background: #fff; @include breakpoint(maxtablet){ width: 100%; }}			
				}
		}

		@include breakpoint(tablet){
			.article-image{ 
				width: 42%; 

					img{
					  min-height: 407px;
					 
					  position: absolute;
					
					  top: -2px;
					}
			}
		}

		.article-small-quote{
			padding: 11% 12% 10% 8%;
			float: right;
			width: 43%;
			background: #fafafa;

			.italic-bold-title{
				font-size: 22px; font-weight: 500; line-height: 28px; font-style: italic; color: #2fbcd6;
			}

			@include breakpoint(maxtablet){ width: 100%; padding: 10% 5%; text-align: center; }

		}
	
	}


.form-column{ 
  background: #494949;
  width: 43%;
  float: right;

	.form-article{
			.inner{
				width: 100%;
				margin: 0;
				padding: 0 19% 0 10%;

					.text-content,
					.form-content{ width: 100%; padding: 0; }
					.text-content{ padding: 2%; }
	
				@include breakpoint(maxtablet){
					width: 100%;
					padding: 7% 4%;
					float: none;
				}
	
			}

		}

			@include breakpoint(maxtablet){
				width: 100%;
				float: none;
			}
}
















