#publications{
	width: 100%;

		.right-column,
		.left-column{ 
			width: 50%; float: left; 

			@include breakpoint(maxtablet){ width: 100%; }

				.publication{
					background: #fff;
					min-height: 335px;

						@include breakpoint(maxtablet){ min-height: 0; }

						&.grey{
							background: #fafafa;							
						}

						.publication-content{
							width: 90%;
							max-width: 90%;
							padding: 40px 0;
							margin: 0 auto;
							float: none;

								@include breakpoint(tablet){
									width: 60%;
									padding: 12% 0 12% 0;
								}

								p{
									font-weight: 300;
									margin-bottom: 24px;
									font-size: 14px;
									line-height: 20px;
									color: #4c4a4a;

									&.italic{ font-size: 20px; font-weight: 300; line-height: 24px; font-style: italic; padding: 2% 0; }

									strong{
										font-weight: 500;					
										font-size: 32px;
										display: block;
										padding-bottom: 4%;
									}
								}

								.case-button{ 
								  font-weight: 700;
								  font-size: 14px;
								  width: 140px;
								  display: block;
								  padding: 13px 0;
								  color: #fff;
								  padding: 10px 14px;
								  background: #ee853a;
								}

								strong{
									font-weight: 500;					
									font-size: 32px;
									display: block;
									padding-bottom: 4%;
								}

								a{
									color: #ee853a;
									padding: 10px 0px;
									font-weight: 700;
									text-decoration: none;
									display: block;
									text-align: right;
									width: auto;
									font-size: 14px;
									line-height: 20px;

									span{ display: none; } 

										@include breakpoint(tablet){
											padding: 0;
											color: #ee853a;
											background: none;
											font-weight: 300;
											display: block;
							 				margin: 0;
							 				width: auto;
							 				text-align: right;

							 					span{ display: inline; } 
										}
								}

									.full-publication{

							 			display: none;

										.pdf-publication{
											width: 100%;
											max-width: 100%;
											padding: 40px 0;
											margin: 0 auto;
											float: none;
											border-top: 1px solid #dbdbdb;

											.open-overlay{
												  font-weight: 700;
												  color: #ee853a;
												  background: none;
												  padding: 0;
												  text-decoration: none;
												  display: inline;
												  text-align: right;
												  width: auto;
												  margin: 0;
												  font-size: 14px;
												  line-height: 20px;
												  cursor: pointer;
											}

											&:first-child{ margin: 15% 0 0; }	

											p{ padding-right: 5%; }

												&:last-child{
													border-bottom: 1px solid #dbdbdb;															
												}

												@include breakpoint(tablet){
												    padding: 10% 0 9% 0;
													margin: 1% 0 0;			

														&:first-child{ margin: 26% 0 0; }										
												}

												p{
													font-weight: 300;
													margin-bottom: 0px;
													font-size: 14px;
													line-height: 20px;
													color: #4c4a4a;

													&.italic{ 
														font-size: 20px; 
														font-weight: 300; 
														font-style: italic; 
														padding: 2% 0 12%;

															@include breakpoint(maxtablet){
																padding: 2% 0 4%;
															}
													}

													&.bold{
														font-weight: 400;					
														font-size: 14px;
														line-height: 20px;
														display: block;
														padding: 0 5% 4% 0;

															@include breakpoint(maxtablet){
																padding: 0 0 1%;
															}
													}

													&.light{
														font-weight: 300;					
														font-size: 14px;
														line-height: 20px;
														display: block;
														padding-bottom: 8%;

															@include breakpoint(maxtablet){ padding-bottom: 2%; }

													}

														a{ 
														  font-weight: 700;
														  color: #ee853a;
														  background: none;
													      padding: 0;
														  text-decoration: none;
														  display: inline;
														  text-align: right;
														  width: auto;
														  margin: 0;
														  font-size: 14px;
														  line-height: 20px;

														}

												}
										}

										.full-publication-footer{
											padding: 10% 0 0;
											border-top: 1px solid #dbdbdb;

												@include breakpoint(maxtablet){ padding: 6% 0 0; }
										}
									}
						}

				}




		}
}