#overlay{
	background: rgba(0,0,0, 0);
	position: fixed;
	transition: transform .4s .4s ease-in-out;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 20;
	opacity: 1;
	background: rgba(0,0,0, .5);
	-ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0);


    	@include breakpoint(maxtablet){
    		position: absolute;
    	}

		#form-overlay{
			-ms-transform: scale(0,0); /* IE 9 */
		    -webkit-transform: scale(0,0); /* Safari */
		    transform: scale(0,0);
		    position: absolute;
			width: 630px;
			background: #fafafa;
			left: 50%;
			top: 5%;
			margin-left: -315px;
			padding: 0 0 1 0%;
			transition: transform .4s ease-in-out;

			@include breakpoint(maxtablet) {
				width: 100%;
				position: absolute;
				top: -60px;
				left: 0;
				margin: 0;
				z-index: 20;
				margin-top: 60px;
			}

				/* For the REGISTER (not login) overlay view*/
				#close-form{
					position: absolute;
					right: 2%;
					top: 2.5%;
					cursor: pointer;
					z-index: 100;
					@include breakpoint(maxtablet) {
						top: 1%;
					}
				}

				.inner{
					width: 500px;
					max-width: 100%;
					margin: 0 auto;
					padding: 4% 0;

					#form-header{
						padding: 5% 0 3%;
						width: 96%;
						left: 2%;
						position: relative;

							.italic{ font-size: 22px; font-weight: 300; font-style: italic; padding: 2% 0; }
							.title{ font-size: 32px; font-weight: 500; letter-spacing: 1px; margin-bottom: 5px; }

								@include breakpoint(maxtablet){ width: 90%; left: 5%; .italic{ font-size: 14px; } .title{ font-size: 28px; max-width: 50%; } }

					}

						.right-form-column,
						.left-form-column{
							width: 46%;
							float: left;
							margin: 2%;
							position: relative;

							@include breakpoint(maxtablet){ width: 100%; max-width: 90%; margin: 0 5%; }

								div{
									margin: 10px 0;
									background: #fff;
									border: 1px solid #dbdbdb;
									position: relative;

									&.error{ border: 1px solid #f00 !important; }

									@include breakpoint(maxtablet){
										&:last-child{ margin: 0; }
									}

									input{
										width: 100%;
										padding: 13px;
										background: none;
										border: none;
										line-height: 20px;
										transition: all .4s ease-in-out;
									}

										&#strength_score{
											font-size: 14px;
											padding: 16px;
											color: #b4b3b3;
											font-family: 'Roboto', 'Roboto Condensed', sans-serif;
											cursor: default;
											position: relative;

												span{
													position: absolute;
													width: 0%;
													background: #2fbcd6;
													display: block;
													top: 0;
													bottom: 0;
													left: 0;
													transition: width .2s ease;
												}

												&.weak,
												&.good,
												&.strong{ p{ color: #fff; position: relative; z-index: 2; } }

												&.weak{
													span{
														width: 30%;
													}
												}
												&.good{
													span{
														width: 50%;
													}
												}
												&.strong{
													span{
														width: 100%;
													}
												}
										}
								}

								.required{ color: #2fbcd6; position: absolute; font-size: 12px; top: -8px; }

						}

						.form-footer{
						  width: 96%;
						  margin: 2%;
						  padding: 6% 0 0;
						  border-top: 1px solid #dbdbdb;

						  	@include breakpoint(maxtablet){ border: none; margin: 0% 5% 2% 5%; padding: 10px 0 0; }

						  	.submit-button{
					  		   margin-bottom: 5%;
						  	   border: none;
							   font-family: 'Roboto', 'Roboto Condensed', sans-serif;
							   font-size: 14px;
							   font-weight: 700;
							   padding: 12px 18px;
							   display: inline-block;
					  		}

					  		#select-wrapper{
					  			width: 100%;

					  				.robot{ color: #b4b3b3; font-size: 14px; position: relative; top: 16px; left: 15px; }

					  				.arrow-wrapper{
					  					  display: inline-block;
										  position: absolute;
										  padding: 0 15px;
										  right: 0;
										  height: 100%;
										  top: 0;
										  border-left: 1px solid #dbdbdb;

					  							img{
					  								position: relative;
					  								top: 17px;
					  							}
					  				}

					  				.check-wrapper{
					  					height: 50px;
					  					float: left;
					  					position: relative;

					  					input[type="checkbox"] {
										    display: none;
										}

										input[type="checkbox"] + label span {
											cursor: pointer;
										    display: inline-block;
										    width: 48px;
										    height: 48px;
										    background: url(../img/icons/checked.png) left top no-repeat;
								//		    transition: background .5s ease;
										}

										input[type="checkbox"]:checked + label span {
										    background: url(../img/icons/checked.png) -49px top no-repeat;
										}

										&.error{ border: 1px solid #f00 !important; }

									}

					  		}
					  			#select-box-wrapper{
					  				position: relative;
					  				margin: 0;
									background: #fff;
									border: 1px solid #dbdbdb;
									width: 48%;
									font-size: 14px;
									padding: 16px;
									color: #b4b3b3;
									font-family: 'Roboto', 'Roboto Condensed', sans-serif;
									float: left;
									margin-right: 4%;

					  					select{
					  						opacity: 0;
					  						width: 100%;
					  						cursor: pointer;
					  						position: absolute;
					  						top: 0;
					  						left: 0;

					  							option{
					  								margin-left: 20px;
					  								width: 100%;
					  							}
										}

					  				@include breakpoint(maxmobile){ width: 100%; margin-bottom: 10px; }

					  			}
						}
				}
		}

		&.active{
			-ms-transform: scale(1,1); /* IE 9 */
		    -webkit-transform: scale(1,1); /* Safari */
		    transform: scale(1,1);

				#form-overlay{
					-ms-transform: scale(1,1); /* IE 9 */
				    -webkit-transform: scale(1,1); /* Safari */
				    transform: scale(1,1);
				}

		}

		.phone-field, .phone-field > div{
			border: 0px !important;
		}

		.phone-field{
			margin: 0px !important;

			.country{
				background: white;
				width: 62px;
				height: 100%;
				float: left;
				border: 0px !important;
				position: absolute;
				left: 0;
				height: 100%;
			}

			.phone{
				float: left;
				width: 60% !important;
				margin-left: 23%;

				&:before{
					content: "-";
				}
			}


		}

}


#country{
	opacity: none;
	opacity: 0;
	position: absolute;
	z-index: 20;
	left: 0;
	height: 100%;

	&.country {
		height: 40px;
	}
}

#default-value{
	position: absolute;
	top: 16px;
	left: 10px;
	color: #666;
	z-index: 10;
	font-size: 13px;
}

#default-arrow{
	right: -1px;
	position: relative;
	z-index: 10;
}

/**
 * Login
 */
.overlay-login{
	background: rgba(0,0,0, 0);
	position: fixed;
	transition: transform .4s .4s ease-in-out;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 20;
	opacity: 1;
	background: rgba(0,0,0, .5);
	-ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0);

    &.active{
		-ms-transform: scale(1,1); /* IE 9 */
	    -webkit-transform: scale(1,1); /* Safari */
	    transform: scale(1,1);

			.form-overlay{
				-ms-transform: scale(1,1); /* IE 9 */
			    -webkit-transform: scale(1,1); /* Safari */
			    transform: scale(1,1);
			}

	}


    	@include breakpoint(maxtablet){
    		position: absolute;
    	}

		.form-overlay{
			-ms-transform: scale(0,0); /* IE 9 */
		    -webkit-transform: scale(0,0); /* Safari */
		    transform: scale(0,0);
		    position: absolute;
			width: 630px;
			background: #fafafa;
			left: 50%;
			top: 5%;
			margin-left: -315px;
			padding: 0 0 1 0%;
			transition: transform .4s ease-in-out;

			@include breakpoint(maxtablet){
				width: 100%;
				position: absolute;
				top: -60px;
				left: 0;
				margin: 0;
				z-index: 20;
				margin-top: 60px;
			}

			.close-form{
				position: absolute;
				right: 2%;
				top: 2.5%;
				cursor: pointer;
				z-index: 100;
				@include breakpoint(maxtablet) {
					top: 1%;
				}
			}

			.inner{
				width: 500px;
				max-width: 100%;
				margin: 0 auto;
			    padding: 7% 15px 16%;
				position: relative;

				p[class^='login']{
					margin-bottom: 20px;

				}

				input{


					width: 100%;
					padding: 13px;
					background: none;
					border: none;
					line-height: 20px;
					transition: all .4s ease-in-out;
					border: 1px solid #dbdbdb;
					background: #fff;

					&[type="checkbox"]{
						width: 20px;
					}



				}

				.button-primary{
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					border-radius: 0px;

				  width: 110px;
				  padding: 10px;
				  text-align: center;
				  background: #ee853a;
				  color: white;
				  text-transform: uppercase;
				  font-weight: bold;
				  font-family: Roboto;
				  font-size: 90%;
				  border: 0px;
				  float: left;
				}

				.form-header{
					padding: 5% 0 3%;
					width: 96%;
					left: 2%;
					position: relative;

						.italic{ font-size: 22px; font-weight: 300; font-style: italic; padding: 2% 0; }
						.title{ font-size: 32px; font-weight: 500; letter-spacing: 1px; margin-bottom: 5px; }

							@include breakpoint(maxtablet) {
								/*width: 90%;
								left: 5%;
								*/
								width: 100%;
								
								.italic {
									font-size: 14px;
								}

								.title {
									font-size: 28px;
									max-width: 50%;
								}
							}

				}
				.login-remember {
					margin-bottom: 10px !important;
				}

				.login-error-msg {
					display: inline-block;
    				width: 100%;
    				margin-top: 20px;
    				padding: 20px;
    				background: #ffe2e2;
    				color: #a81d1d;
    				display: none;
				}
			}
		}

}

.signup-captcha {
	font-size: 0;
	margin-bottom: 40px;
	width: 100%;
	clear: both;
  padding: 0px 2%;

	@include breakpoint(maxtablet){
		padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
	}

	.signup-captcha-label {
		// display: block;
		font-size: 16px;
	}
	.signup-captcha-left {
		// display: inline-block;
		width: 150px;
		float: left;
		vertical-align: top;


		.signup-captcha-image {
			// height: 48px;
			// width: auto;
		}

		.signup-new-captcha-image {
			margin-top: 4px;
			font-size: 12px;
			font-family: Roboto;
			color: #ee853a;
			text-decoration: none;
			display: block;
			&:hover {
				text-decoration: underline;
			}
		}
		}
		.signup-captcha-right {
		overflow: auto;
		// display: inline-block;
		vertical-align: top;
		margin-left: 160px; /* 10px more than width of .login-captcha-left */
		border: 1px solid #dbdbdb;

		&.error {
			border: 1px solid #f00 !important;
		}

		input {
			width: 100%;
			padding: 17px 10px 18px;
			font-size: 11px;
			border: none;
		}
	}
}


#login-form-buttons{
  	float: left;
		margin-top: 10px;

		@include breakpoint(maxtablet) {
			margin-bottom: 10px;
			margin-top: 0px;
			clear: both;
		}
}



a.overlay-link{
	font-weight: 700;
	  color: #ee853a;
	  background: none;
	  padding: 0;
	  text-decoration: none;
	  display: inline;
	  text-align: right;
	  width: auto;
	  margin: 0;
	  font-size: 14px;
	  line-height: 20px;



}

#overlay{
	a.overlay-link{
	 	width: 100%;
	 	text-align: center;
	 	margin-left: 20px;

	  @include breakpoint(maxtablet) {
	      display: block;
	      text-align: left;
	      margin-left: 0px;
	  }

	}
}

.overlay-login{
	a.overlay-link{
		margin-left: 20px;
	  @include breakpoint(maxtablet) {
			margin-top: 0px;
			margin-left: 0px;
			display: block;
			text-align: left;
		}
	}

}
