.search-window {
	background: $background-color2;

	padding-top: 2%;
	padding-bottom: 5%;
}

.search-field {
	margin-bottom: 16px;

	.input-search {
		width: 100%;
		height: 46px;

		font-family: $font-family;
		font-weight: $font-weight-bold;
		font-size: $font-size-large;
		color: $font-color;

		padding: 2px 8px;
		margin-left: -8px;

	}
}

.search-result {
	margin-bottom: $font-size-large;

	.title {
		font-family: $font-family;
		font-weight: $font-weight-bold;
		font-size: 16px;
		line-height: 32px;

		color: #656565;
	}

	.content {
		font-family: $font-family;
		font-weight: $font-weight;
		font-size: $font-size;
		line-height: $font-lineheight;
	}
}

.search-noresults {
	line-height: $font-size-large;

	ul {
		list-style-type: disc;
		margin: 16px;

		li {

		}
	}
}