.static-case{
	position: relative;
	padding: 10% 0;
	background-repeat: no-repeat;

	@include breakpoint(maxtablet){ padding: 10% 0 14%; }

	.static-case-content{

		z-index: 10;
		color: #fff;
		text-align: left;
		width: 1080px;
		margin: 0 auto;
		max-width: 90%; 

		@include breakpoint(maxmobile){ text-align: center; }
	
			.case-title{ 
				font-weight: 600; 
				font-size: 42px; 
				text-transform: 
				uppercase; 
				margin-bottom: 2%; 

					@include breakpoint(maxtablet){ font-size: 36px; }
					@include breakpoint(maxmobile){ font-size: 26px; }
					
			}
			.case-italic{ 
				font-style: oblique; 
				font-weight: 300; 
				font-size: 22px; 
				margin-bottom: 5%; 
				max-width: 65%; 
				line-height: 26px; 

					@include breakpoint(maxtablet){ font-size: 18px; line-height: 24px; }
					@include breakpoint(maxmobile){ font-size: 14px; line-height: 18px; margin: 3% auto 8%; }
				
			}
			
			.cta-button{ 
				font-weight: 600; 
				padding: 12px 24px; 
			}
	}
}