.story-navigator {
	display: table;
	width: 100%;
	height: 16%;
	background: $background-color1;

	padding: 2% 10%;

	.post {
		display: table-cell;
		width: 25%;

		color: $font-color;
		font-size: $font-size;
		line-height: $font-lineheight;
		vertical-align: middle;
		text-align: center;

		padding: 0 5%;

		.arrow {
			position: absolute;
			display: inline-block;
			width: 32px;
			height: 32px;

			margin-top: -17.5px;

			top: 50%;
			left: 100%;
			right: auto;

			border-left: 3px solid $background-color3;
			border-bottom: 3px solid $background-color3;
			border-right: 3px solid transparent;
			border-top: 3px solid transparent;

			transform: rotate(225deg);
			pointer-events: none;

			&.left {
				left: auto;
				right: 100%;
				transform: rotate(45deg);
			}
		}

		&.prev, &.next {
			text-decoration: none;
		}

		&.main {
			position: relative;

			width: 50%;

			h1 {
				font-size: $font-size-large;
				font-weight: $font-weight-bold;
				line-height: $font-lineheight-large;
			}
		}
	}
}

.story-filedownload {
	background: $background-color3;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: center;

	a {
		padding: 0 1em;
		display: inline-block;
		background: #ff8814;
		color: $background-color1;
		font-size: $font-size;
		font-weight: $font-weight;
		line-height: 2.5em;
		text-decoration: none;
		text-transform: uppercase;
		height: 2.5em;
	}
}