
#subpage{
	.article{
		
		&.left{

			.article-text{
				width: 57%; 
				float: right;
				padding: 5% 10% 7% 8%;

				.title{
					font-weight: 500;
					font-size: 22px;
					margin-bottom: 15px; 
				}

				.italic-title{ font-size: 20px; font-weight: 300; font-style: italic; padding: 2% 0; }
				
				.text-block{
					.italic-title{ font-size: 20px; font-weight: 300; font-style: italic; padding: 4% 0 6%; }
					p{ font-weight: 300; font-size: 14px; line-height: 20px; margin-bottom: 15px; }									
				}

				p{ font-weight: 300; font-size: 14px; line-height: 20px; margin-bottom: 15px; }

					&.blue-top{
						background: #2fbcd6;
						color: #fff;

							@include breakpoint(maxtablet){
								width: 100%;
								padding: 7% 4%;
								float: none;
							}
					}

					&.blue-bottom{
						background: #2fbcd6;
						color: #fff;
					}

					@include breakpoint(maxtablet){
						width: 100%;
						padding: 7% 4%;
						float: none;
					}

			}

			.article-image{
				width: 43%; 
			}

			.article-small-quote{

				padding: 14% 10% 18% 10%;
				float: right;
				width: 43%;
				background: #fafafa;

				.italic-bold-title{
					font-size: 22px; font-weight: 500; line-height: 28px; font-style: italic; color: #2fbcd6;
				}

				@include breakpoint(maxtablet){ width: 100%; padding: 10% 5%; text-align: center; }

				}

				
			}


		@include breakpoint(tablet){
			.article-image{ 
				width: 43%; 

					img{
					  min-height: 405px;
					  width: 520px;
					  max-width: 520px;
					  height: 405px;
					  position: absolute;
					  left: 49%;
					  margin-left: -255px;
					  top: -2px;
					}
			}
		}

	
	
	}
}
