#top-articles{
	background: #fff;
	text-align: center;
	width: 100%;
	padding: 4% 0 15% 0; 
	position: relative;

	@include breakpoint(tablet){ padding: 4% 0 6% 0; }

	#top-article-title{ 
		font-size: 18px; 
		padding: 5% 0 5%; 
		font-weight: 500; 
		color: #2ebcd6; 

			@include breakpoint(tablet){
				font-size: 32px; 
				padding: 0 0 5% 0; 
			}

	}

	.top-link{ 
		width: 100%;
		display: block;
		position: relative;
		text-decoration: none;
		color: #4c4a4a;
		width: 240px;
		height: 175px;
		margin: 0% auto;

		.navlink-quote{ 
		  position: absolute;
		  left: -36px;
		  top: -10px;
		  cursor: pointer;
		  width: 35px;

			@include breakpoint(tablet) { display: none; } 

		}

			@include breakpoint(tablet){
				margin: 0;
				width: 240px;
				height: 175px;
				display: inline-block;
			}

			&.middle-link{ 
				width: 240px;
				height: 175px;
				margin: 12% auto 12%;
				position: relative;


					.plus{
						display: none;
						position: absolute;
						width: 25px;
						height: 27px;


							&.right{ right: 50%; margin-right: -12px; top: -40%; }
							&.left{ left: 50%; margin-left: -12px; bottom: -40%; top: auto; }
					}

					@include breakpoint(tablet){
						margin: 0 5%;
						padding: 0;

							.plus{
								display: block;
								position: absolute;
								width: 25px;
								height: 27px;
								margin-top: -25px;

									&.right{ right: -15%; top: 50%; }
									&.left{ left: -15%; top: 50%; bottom: auto; }
							}
					}

			}

			.top-link-img-wrap{
				height: auto;
				margin-bottom: 10px;

					img{ max-width: 110px; }
			}

			p.link-title{
				font-weight: 900;
				font-style: italic;
				margin-bottom: 10px;
				text-decoration: none;
			}

			p.blue{ color: #6ed0e2; font-weight: 500;  }

				p{ 
					font-weight: 00; 
					font-size: 14px; 
					line-height: 16px;
					width: 75%; 
					margin: 0 auto; 
					text-decoration: none;
				}

				.quotes{
					background: #fff;
					top: 0;
					width: 100%;
					position: absolute;
					opacity: 0;
					transition: opacity .5s ease-in;
					padding: 10px 5px 40px;

					.bold{ display: block; margin-top: 10px; font-style: oblique; }

						div{
							padding: 1px 0 0;
							font-weight: 300; 
							font-size: 15px;
							line-height: 16px;
						//	position: absolute;
							width: 100%;
							margin-top: 10px;
						//	bottom: -42px;
						//	background: #fff;
						//	opacity: 0; 
						
						}
							
							&.active{
								opacity: 1;
							}	

							@include breakpoint(tablet){
								&:hover{  
									 opacity: 1;
								}
							}
				
				}
	}
}