
#pausa{position: absolute;top:20px;left: 150px;}
#pausa{position: absolute;top:20px;left: 150px;}

#video{position:absolute;top:100px;left:20px;}

#video-module{
	position: relative;
	width: 100%; 
	padding: 0;

	.video-background{ z-index: 0; background: #000; width: 100%; }

		.video-wrapper{
		  position: relative;
		  z-index: 10;
		  padding-bottom: 32%;
		  padding-top: 25px;
		  height: 0;
		  width: 54%;
		  left: 23%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

				@include breakpoint(maxtablet){
				  position: relative;
				  z-index: 10;
				  padding-bottom: 63%;
				  padding-top: 25px;
				  height: 0;
				  width: 100%;
				  left: 0%;
				}
	
		} 	
}

#static-video-content{
	  color: #fff;
	  text-align: left;
	  width: 1200px;
	  margin: 0 auto;
	  max-width: 100%;
	  position: absolute;
	  top: 0;
	  bottom: 0;

	  	.inner{
	  		width: 1080px;
	  		padding: 10%;
	  		margin: 0 auto;
	  	}

}