/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$font-color: #4c4a4a;
$font-size: 14px;
$font-size-large: 20px;
$font-lineheight: 1.42em;
$font-lineheight-large: 1.5em;
$font-weight: 400;
$font-weight-bold: 500;
$font-weight-light: 300;
$font-family: 'Roboto', sans-serif;

$background-color1: #ffffff;
$background-color2: #fafafa;
$background-color3: #2ebcd6;

@import "compass/reset";
@import "_grids.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "_base.scss";
@import "_header.scss";
@import "_top-links.scss";
@import "_footer.scss";
@import "_register-form.scss";
@import "_our-expertise.scss";
@import "_static-case.scss";
@import "_publications.scss";
@import "_contact.scss";
@import "_your-challanges.scss";
@import "_subpage.scss";
@import "_video.scss";
@import "_account.scss";
@import "_languages.scss";
@import "_search.scss";
@import "_story.scss";

@import "widgets/widgets";
//@import "_custom-select.scss";


