.article{
	width: 100%;
	max-width: 100%;

	a{
		color: #4c4a4a;
  		text-align: left;
  	}

  	.article-text{
  		.text-block{

			h1,h2,h3,
			h4{
				font-size: 32px;
				line-height: 38px;
				font-weight: 500;
				font-family: 'Roboto', sans-serif;
				margin: 30px 0 20px;

					em{
						font-style: oblique;
						font-size: 24px;
						line-height: 30px;
						font-weight: 200;
					}
			}

  			h5{
  				font-size: 18px;
  				line-height: 24px;
  				font-weight: 500;
  				font-family: 'Roboto', sans-serif;
  				margin: 30px 0 20px;
  			}

  			p{

  				font-weight: 300;
				margin-bottom: 24px;
				font-size: 14px;
				line-height: 20px;
				color: #4c4a4a;
				margin: 0 0 20px;

				em{ font-style: oblique; }


  					&.p1{
  						strong{
  						  font-weight: 500;
						//  font-size: 20px;
						  line-height: 20px;
						  margin: 10px 0 20px;
						  display: inline-block;

  						}
  					}

  					strong{
					  font-weight: 500;
					 // font-size: 20px;
					  line-height: 20px;
					  display: inline-block;
					}

			}

			ul{
				list-style: disc;
				margin: 20px 0;

					li{
						font-weight: 300;
						margin-bottom: 8px;
						font-size: 14px;
						line-height: 20px;
						color: #4c4a4a;
					}
			}

  		}
  	}




			.article-image{
				width: 100%;
				overflow: hidden;
		  		position: relative;

		  			img{ width: auto; max-width: 516px; @include breakpoint(maxtablet){ width: 100%; max-width: 100%; } }

					@include breakpoint(tablet){
						width: 42%;
						height: 405px;
						margin-bottom: -2px;

						img{
						  min-height: 405px;
						}

					}
			}


	  		.article-link{
	  			display: block;
	  			overflow: hidden;
	  			text-decoration: none;
	  			transition: all 1s ease;

		  			.article-image{
						img{
						    transition: all 1s ease;
						}
		  			}

		  			/*

			  			&:hover{
			  				.article-image{
								img{
				  					-webkit-filter: grayscale(100%);
				  				}
				  			}
				  		}

			  		*/


	  		}


	.article-content{
		width: 90%;
		max-width: 90%;
		padding: 40px 0;
		margin: 0 auto;
		float: none;
		line-height: 1.3;
		font-weight: 300;

			@include breakpoint(tablet){
				width: 57%;
				padding: 0 10% 0 11%;
			}

			h1,h2,h3,h4{
				font-weight: 500;
				font-size: 32px;
				display: block;
				padding-bottom: 2.5%;
			}

			p{
				font-weight: 300;
				margin-bottom: 24px;
				font-size: 14px;
				line-height: 20px;
				color: #4c4a4a;

				strong{
					font-weight: 500;
					font-size: 32px;
					display: block;
					padding-bottom: 2.5%;
				}
			}

			strong{
				font-weight: 500;
				font-size: 32px;
				display: block;
				padding-bottom: 4%;
			}

			a.readmore,
			span{
				color: #fff;
			  	padding: 10px 18px;
			  	background: #ee853a;
			  	font-weight: 900;
			  	text-decoration: none;
			  	display: inline-block;
			  	text-align: center;
			  	margin: 15px auto 0;
			  	font-size: 14px;
			  	line-height: 20px;
			  	@include breakpoint(maxtablet){
			  		&:not(.case-button){
				  	//	transform: translateX(50%);
				  	}
			  	}

				span{ display: none; }

					@include breakpoint(tablet){
						padding: 0;
						color: #ee853a;
						background: none;
						font-weight: 500;
		 				margin: 15px 0 0;
		 				text-align: left;


		 					span{ display: inline; }
					}
			}

			&.product-list{
				&.palma{
					padding: 0 7% 0 9%;

					@include breakpoint(maxtablet){ padding: 40px 0; }
				}
			}
	}

	&.right{
		.article-image,
		.article-content{
			@include breakpoint(tablet){ float: right; }

				&.dark{

					p{
						color: #fff;

							strong{
								color: #fff;
							}
					}

					strong{
						color: #fff;
					}

				}
		}
	}

	&.left{

		.article-image,
		.article-content{
			@include breakpoint(tablet){ float: left; }

					&.dark{

						p{
						color: #fff;
							strong{
								color: #fff;
							}
						}
						strong{
							color: #fff;
						}

					}
		}
		.article-content{ padding: 0 10% 0 8%; @include breakpoint(maxtablet){ padding: 40px 0; } }
	}

	  &.middle{
  		.article-text{
			  width: 1080px;
			  max-width: 90%;
			  margin: 0 auto;
			  padding: 3% 0 6%;


				.text-block{
					.italic-title{
						  font-size: 20px;
						  font-weight: 300;
						  font-style: italic;
						  padding: 4% 0 2%;
						  max-width: 65%;
					}
				}
  		}
  	}

  	&.border{
  			.article-text{
  				padding: 3% 8% 0% 10%;

				.text-block{
					padding-bottom: 10%;
 					border-bottom: 1px solid #ddd;
				}
  		}
  	}
}

