.case-article{
	width: 100%;
	max-width: 100%;
	background: #fff;
	border-bottom: 1px solid #dbdbdb;

	.button {
		display: inline-block;
		font-size: $font-size;
		font-weight: $font-weight-bold;
		color: #ffffff;

		text-transform: uppercase;
		text-align: center;
		background: #ee853a;
		line-height: 48px;
		width: 157px;

		margin-top: 1em;
		margin-bottom: 1em;

		cursor: pointer;
	}

	.article-image{
		width: 100%;
		overflow: hidden;
  		position: relative;

		img{ width: 100%; }

		@include breakpoint(tablet){
			width: 42.4%;
				height: 404px;

			margin-bottom: 0;
	
			img{ 
				min-height: 345px; 
				width: 510px;
				max-width: 510px;
				height: 404px;
				position: absolute;
				left: 50%;
				margin-left: -255px;
				top: 0 !important;
			}

		}
	}

	.article-content{
		width: 92%;
		max-width: 92%;
		padding: 25px 0 30px;
		margin: 0 auto;
		float: none;

		@include breakpoint(tablet) {
			width: 55%;
			padding: 0 10% 0 8%;
		}

		p {
			font-weight: 300;
			margin-bottom: 24px;
			font-size: 14px;
			line-height: 21px;
			color: #4c4a4a;

			&.italic { 
				font-size: 20px; 
				font-weight: 300; 
				font-style: italic; 
				padding: 2% 0; 
			}

			strong {
				font-weight: 500;					
				font-size: 32px;
				display: block;
				padding-bottom: 4%;
			}
		}

		.case-button { 
			font-weight: 700;
			font-size: 14px;
			display: inline-block;
			color: #fff;
			padding: 10px 14px;
			background: #ee853a;
			text-align: center;
		}

		strong {
			font-weight: 500;					
			font-size: 32px;
			display: block;
			padding-bottom: 4%;
		}

		a{
			color: #fff;
			padding: 10px 18px;
			background: #ee853a;
			font-weight: 900;
			text-decoration: none;
			display: block;
			text-align: center;
			width: 106px;
			margin: 10px auto 0;
			font-size: 14px;
			line-height: 20px;

			span{ display: none; } 

			@include breakpoint(tablet){
				padding: 0;
				color: #ee853a;
				background: none;
				font-weight: 300;
				display: inline-block;
				margin: 0;
				width: auto;

				span{ display: inline; } 
			}
		}
	}

	&.left{
		.article-image,
		.article-content{
			@include breakpoint(tablet){
				float: left;
			}
		}

		.full-case{
		.left-column{
				background: #fff;
			}
		}
	}

	&.gray{
		.article{
			background: #fafafa;
		}
		.full-case{
			.right-column{
				background: #fafafa;
			}
		}
	}

	.full-case {
			background: #fff;
			width: 100%;
			display: none;

			p {
				font-weight: 300;
				margin-bottom: 14px;
				font-size: 14px;
				line-height: 21px;
				color: #4c4a4a;

					&.italic{ font-size: 24px; font-weight: 300; font-style: italic; padding: 2% 0; }
					&.title{ font-size: 16px; font-weight: 400; margin-bottom: 15px; }
			}

		.ul-wrap{
			margin-bottom: 35px;

			ul{
				list-style: disc;

				li{	
					font-weight: 300;
					margin-bottom: 8px;
					font-size: 14px;
					line-height: 22px;
					color: #4c4a4a;
				}
			}
		}

		.left-column{
			width: 42.4%;
			float: left;

			img{ width: 100%; }

			@include breakpoint(maxtablet) {
				width: 100%;
			}

			.left-case-desc {
				padding: 10% 0% 7% 0%;
				border-bottom: 1px solid #dbdbdb;
				margin: 0 16% 0 18%;

				@include breakpoint(maxtablet) {
					width: 100%;
					margin: 0 auto;
					padding: 10% 5% 7% 5%;
				}
			}
		}

		.right-column{
			width: 57.6%;
			padding: 0 10% 0 8%;
			float: left;

			@include breakpoint(maxtablet){
				width: 100%;
				padding: 0 6% 0 5%;
			}
		
			.case-title{
				margin-top: 0;
				padding: 8% 0 2%;
				border-top: 1px solid #dbdbdb;

				@include breakpoint(maxtablet){
					width: 100%;
					border-top: 0;
					border-top: none;
				}
			}
		}
	}

	.case-footer{
		color: #ee853a;

		.open-overlay{ cursor: pointer; }
		
		.close-article{
			cursor: pointer;
			margin: 8% 0;

			img {
				opacity: .7;
				transition: all .2s ease;
			}

			&:hover{
				img{
					opacity: 1;			
				}
			}
		}

		a{  color: #ee853a; }
	}
}











